In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://tv.naver.com/r/')
response

In [10]:
dom = BeautifulSoup(response.content, 'html.parser')
top3 = dom.select('#container > div > div.top_main > div > div > div > ul > li')
top100 = dom.select('#content > div > div > div > div')
len(top3), len(top100)

(3, 97)

### top3 데이터 가져오기

In [37]:
# clip title
clip_1 = top3[0]
clip_1_title = clip_1.select_one('[class="title"]').text.replace('\n', '')
clip_1_title

'임영웅 vs 김수찬 ‘울면서 후회하네’♪ ✰환상의 하모니✰'

In [40]:
# clip programe
clip_1_program = clip_1.select_one('[class="ch"]').text
clip_1_program

'미스터트롯'

In [46]:
# clip 재생횟수
clip_1_counts = clip_1.select_one('[class="hit"]').text.replace('재생 수', '')
clip_1_counts

'789,196'

In [51]:
# clip 좋아요
clip_1_likes = clip_1.select_one('[class="like"]').text.replace('좋아요 수', '')
clip_1_likes

'11,279'

In [56]:
# top 3 
datas = []
for top in top3:
    datas.append({
        "title": top.select_one('[class="title"]').text.replace('\n', ''),
        "program": top.select_one('[class="ch"]').text,
        "count": top.select_one('[class="hit"]').text.replace('재생 수', ''),
        "like": top.select_one('[class="like"]').text.replace('좋아요 수', ''),
    })

datas

[{'title': '임영웅 vs 김수찬 ‘울면서 후회하네’♪ ✰환상의 하모니✰',
  'program': '미스터트롯',
  'count': '789,196',
  'like': '11,279'},
 {'title': '☞충격의 1위☜ 임영웅! 최후의 7위는? 대박..',
  'program': '미스터트롯',
  'count': '357,723',
  'like': '3,181'},
 {'title': '✲깜찍·귀염·잘생김✲ 정동원 vs 장민호 ‘파트너’♫ ',
  'program': '미스터트롯',
  'count': '463,556',
  'like': '8,440'}]

### top 100 데이터 가져오기

In [63]:
# title
clip_4 = top100[0]
clip_4.select_one('tooltip').text

'14살 정동원 ✪결승진출✪ 충격의 막내온탑'

In [68]:
# program
clip_4.select_one('a:nth-of-type(3)').text

'미스터트롯'

In [72]:
# 재생수
clip_4.select_one('[class="hit"]').text.replace('재생 수', '')

'261,123'

In [79]:
# 좋아요수
clip_4.select_one('[class="like"]').text.replace('좋아요 수', '')

'2,049'

In [82]:
datas2 = []
for top in top100:
    datas2.append({
        "title": top.select_one('tooltip').text,
        "program": top.select_one('a:nth-of-type(3)').text,
        "count": top.select_one('[class="hit"]').text.replace('재생 수', ''),
        "like": top.select_one('[class="like"]').text.replace('좋아요 수', ''),
        
    })

len(datas2)

97

### top3, top100 데이터 프레임 만들기

In [86]:
top3_df = pd.DataFrame(datas, columns=['title', 'program', 'count', 'like'])
top3_df

                              title program    count    like
0  임영웅 vs 김수찬 ‘울면서 후회하네’♪ ✰환상의 하모니✰   미스터트롯  789,196  11,279
1       ☞충격의 1위☜ 임영웅! 최후의 7위는? 대박..   미스터트롯  357,723   3,181
2    ✲깜찍·귀염·잘생김✲ 정동원 vs 장민호 ‘파트너’♫    미스터트롯  463,556   8,440

In [88]:
top100_df = pd.DataFrame(datas2, columns=['title', 'program', 'count', 'like'])
top100_df.tail()

,title,program,count,like
92,슈퍼맨이 돌아왔다 320회 티저 - 도플갱어네,슈퍼맨이 돌아왔다,"123,454",741
93,"[뉴스특보] 어제 518명 추가 확진…총 6,284명",연합뉴스TV,"2,292",0
94,"르노삼성 XM3 TCe260 (1.3 터보) 시승기 1부, 말해 뭐합니까? Rena...",모터리언 Motorian,"11,364",24
95,"국내 확진자 6,284명 · 사망 43명…'긴급돌봄' 연장",SBS뉴스,"6,276",0
96,"[엠돌핀] 신이 96년에 태어나게 하려다 69년생으로 실수한 게 분명,,d(･∀･○...",라디오스타,"4,938",933

In [89]:
pd.concat([top3_df, top100_df])

,title,program,count,like
0,임영웅 vs 김수찬 ‘울면서 후회하네’♪ ✰환상의 하모니✰,미스터트롯,"789,196","11,279"
1,☞충격의 1위☜ 임영웅! 최후의 7위는? 대박..,미스터트롯,"357,723","3,181"
2,✲깜찍·귀염·잘생김✲ 정동원 vs 장민호 ‘파트너’♫,미스터트롯,"463,556","8,440"
0,14살 정동원 ✪결승진출✪ 충격의 막내온탑,미스터트롯,"261,123","2,049"
1,"'위기 관리 능력을 선보이다' 김광현, 2이닝 2K 무실점 직캠!",김광현 (세인트루이스 카디널스),"134,478",352
...,...,...,...,...
92,슈퍼맨이 돌아왔다 320회 티저 - 도플갱어네,슈퍼맨이 돌아왔다,"123,454",741
93,"[뉴스특보] 어제 518명 추가 확진…총 6,284명",연합뉴스TV,"2,292",0
94,"르노삼성 XM3 TCe260 (1.3 터보) 시승기 1부, 말해 뭐합니까? Rena...",모터리언 Motorian,"11,364",24
95,"국내 확진자 6,284명 · 사망 43명…'긴급돌봄' 연장",SBS뉴스,"6,276",0
96,"[엠돌핀] 신이 96년에 태어나게 하려다 69년생으로 실수한 게 분명,,d(･∀･○...",라디오스타,"4,938",933

### 함수로 만들기

In [92]:
def navertv():
    response = requests.get('https://tv.naver.com/r/')
    dom = BeautifulSoup(response.content, 'html.parser')
    top3 = dom.select('#container > div > div.top_main > div > div > div > ul > li')
    top100 = dom.select('#content > div > div > div > div')
    
    # top3
    datas = []
    for top in top3:
        datas.append({
            "title": top.select_one('[class="title"]').text.replace('\n', ''),
            "program": top.select_one('[class="ch"]').text,
            "count": top.select_one('[class="hit"]').text.replace('재생 수', ''),
            "like": top.select_one('[class="like"]').text.replace('좋아요 수', ''),
            })
    top3_df = pd.DataFrame(datas, columns=['title', 'program', 'count', 'like'])
    
    #top100
    datas2 = []
    for top in top100:
        datas2.append({
            "title": top.select_one('tooltip').text,
            "program": top.select_one('a:nth-of-type(3)').text,
            "count": top.select_one('[class="hit"]').text.replace('재생 수', ''),
            "like": top.select_one('[class="like"]').text.replace('좋아요 수', ''),
            })
    top100_df = pd.DataFrame(datas2, columns=['title', 'program', 'count', 'like'])

    return pd.concat([top3_df, top100_df]).reset_index(drop=True)

In [94]:
df = navertv()

In [95]:
df.iloc[:30]

,title,program,count,like
0,임영웅 vs 김수찬 ‘울면서 후회하네’♪ ✰환상의 하모니✰,미스터트롯,"1,226,750","13,425"
1,"NCT 127 -영웅(英雄), (NCT 127 -Kick It)",쇼! 음악중심,"31,694","3,074"
2,[선공개] (이게 무슨 상황..?) 전종서의 돌발행동에 일동 당황 ㅋㅋㅋㅋ,아는 형님,"202,256",488
3,밀워키 vs LA레이커스 경기 하이라이트,SPOTV_NBA,"17,708",68
4,아이즈원 -FIESTA (IZ*ONE -FIESTA),쇼! 음악중심,"25,713","2,041"
5,✲깜찍·귀염·잘생김✲ 정동원 vs 장민호 ‘파트너’♫,미스터트롯,"678,660","10,511"
6,[선공개] 다시 만난 핑크 텔레토ㅂ.. 아니 혁오 밴드! 유재석과 함께 치킨브라더스...,놀면 뭐하니?,"48,433",281
7,"""카드 한 장이면…"" 온 가족 빚더미 앉힌 '악마의 속삭임'",SBS뉴스,"83,317",100
8,[슈가송] ☆댄스곡 레전드 강림★ 자자 '버스 안에서'♪,투유 프로젝트 - 슈가맨3,"345,379","3,686"
9,이찬원 vs 나태주 ‘남자다잉’♩ 춤 좀 춘다잉? 乃,미스터트롯,"361,437","6,151"
10,"이탈리아·이란 새 확진자 수 '눈덩이'…미, 200명 넘어",JTBC뉴스,"35,576",26
11,[12회 예고] 속에서 천불이 끓어오른다…,이태원 클라쓰,"409,276","1,636"
12,[스페셜] 손꼽아 기다린 댄스곡 레전드♨ 자자 ♬히트곡 모음,투유 프로젝트 - 슈가맨3,"91,156",581
13,※심쿵주의보※ 영탁 vs 신인선 ‘또 만났네요’♭,미스터트롯,"327,806","4,744"
14,"""하루종일 먹으러 다니네""…놀림거리 된 확진자 동선",SBS뉴스,"78,590",20
15,아이즈원 -SPACESHIP (IZ*ONE -SPACESHIP),쇼! 음악중심,"15,166","1,676"
16,류지광vs김호중 ‘다시 한번만’♪ 동굴과 천상의 하모니,미스터트롯,"272,351","5,187"
17,VICTON 빅톤 Howling (하울링) Choreography spoiler,Play M ENTERTAINMENT,"33,731","1,002"
18,‘17년 차 베테랑’ 르브론 제임스의 엄청난 원핸드 슬램,SPOTV_NBA,"36,916",111
19,＜초보 자취러 세정&웰컴 투 조지나 마켓＞ 나 혼자 산다 337회 예고,나 혼자 산다,"127,435",980
20,류현진 특집10. 역대 2위 될뻔한 ERA | 김형준,김형준의 인사이드MLB,"13,554",30
21,임영웅 ‘보라빛 엽서’♩ 심금을 울리는 목소리 ˘-˘乃,미스터트롯,"2,018,106","19,465"
22,[맴찢 엔딩] 고백 단호하게 거절한 박서준 ＂나 좋아하지 마…＂,이태원 클라쓰,"352,387","2,782"
23,[아카이브 프로젝트 모던코리아] 5편 왕조,다큐 인사이트,"26,832",51
24,비례대표 낸 정당만 광고·TV토론 허용…고민 빠진 통합당,JTBC뉴스,"20,194",5
25,"나은&진솔(에이프릴) -시간차 , (NAEUN & JINSOL(APRIL) -Mat...",쇼! 음악중심,"11,578",337
26,화사의 뉴하우스 입성! 안전을 위해 새 집으로 이사?!,나 혼자 산다,"294,027","1,281"
27,이것은 美味! 차돌박이 이불을 덮은 화사의 유부초밥♨,나 혼자 산다,"156,010",857
28,"울지 말아요ㅠㅠ 마음이 따뜻한 당신, 백시ㅇ...아.. 아니..이시언",나 혼자 산다,"156,469","1,320"
29,문예찬이 내 일상에서 사라졌다. 니가 없으니까 너무 아파 [리얼:타임:러브2] EP 7,킼TV,"321,328",516